*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 55px;
    text-transform: uppercase;
    font-family: cursive;
    text-align: center;
    color: red;

}
.button1{
    align-items: baseline;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(4, 0, 40);
    color: orangered;
    font-size: 20px;
    transition: 300ms transform;
    font-weight: 700;
    margin-left: 590px;
    
    
   
}
#display{
    border-radius: 5px;
    border: 1px solid rgb(15, 75, 153);
   align-items: center;
   padding: 20px;
   text-align: center;
   margin-left: 500px;
   margin-bottom: 20px;
   width: 250px;
   color: white;
}

.button1:hover{
    cursor: pointer;
    transform:translateY(-2px) ;
}

.container{
    height: 300px;
    width: 450px;
    display: grid;
    margin-left: 400px;
    
}

.row{
    display: flex;
    margin-left: 99px;
    
    /* height: 500px;
    width: 500px;
    color: blue; */
    
   }
   .box{
    height: 99px;
    width: 100px;
    margin: 2px;
    border: 0px;
    font-size: 50px;
    font-weight: bolder;
    background-color: darkcyan;

   }
 
